{% extends 'base.html' %}

{# --------------------------------------------------------------------------
                                                              EXTRA CSS, JS
-------------------------------------------------------------------------- #}

{% block extra %}
{% endblock %}

{# --------------------------------------------------------------------------
                                                                  SCRIPTAGE
-------------------------------------------------------------------------- #}

{% block scriptage %}
  <script>

$("#error").hide();
$("#error").click(function(e) {
  $("#error").hide();
});

$(document).ready(function() {

  // translate static elements
  i18n_static();

});
  </script>
{% endblock %}

{# --------------------------------------------------------------------------
                                                                     HEADER
-------------------------------------------------------------------------- #}
{% block title %}{{ _('Dashboard') }}{% endblock %}
{% block header %}
{% endblock %}

{# --------------------------------------------------------------------------
                                                                    CONTENT
-------------------------------------------------------------------------- #}

{% block content %}
<div id='error'>
</div>

<ul class='nav nav-tabs' id='tabs_container' role='tablist'>
</ul>
<div class='tab-content' id='panes_container'>
</div>

{# --------------------------------------------------------------------------
                                                              EXAMPLE MODAL
This is a generic modal based on any action whose logic requires or accepts
a note.
-------------------------------------------------------------------------- #}

<div class='modal fade' id='noteModal' tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <form class='modal-form' id='noteModalForm'>
        <div class='modal-header'>
          <h5 class='modal-title' id='noteModalTitle' data-i18n='NOTE'>Make note</h5>
          <button type='button' class='btn-close' data-bs-dismiss='modal'></button>
        </div>
        <div class='modal-body'>
          <p id='noteModalIntro'></p>
          <p>
            <div class='form-group'>
              <label for='note' id='noteModalTextareaLabel'></label>
              <textarea class='form-control' type='text' id='noteModalTextarea' required rows='3'></textarea>
            </div>
          </p>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal' id='noteModalCancel' data-i18n='Cancel'>Cancel</button>
          <button type='submit' class='btn btn-primary' id='noteModalSubmit' data-i18n='Create note'>Do it</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
