<!doctype html>
<html>
<head>
  <noscript>
    <div style='width:75%;height:75%;border:4px solid black;background:red;text:black;margin:auto;float:center;position:absolute;z-index:0;'>
      <h1 style='text:black'>{{ _('Javascript required') }}</h1>

      <p>{{ _('This application requires JavaScript.') }}</p>
    </div>
  </noscript>

  <!-- jQuery-->
  <script src="{{ resources_uri }}/jquery-3.6.0.min.js"></script>

  <!-- Bootstrap -->
  <!-- ...first, required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href="{{ resources_uri }}/bootstrap/css/bootstrap.min.css">
  <script src="{{ resources_uri }}/bootstrap/js/bootstrap.bundle.js"></script>

  <!-- Simple Javascript cookie library -->
  <script src="{{ resources_uri }}/js.cookie.min.js"></script>

  <!-- i18n for JavaScript -->
  <script src="{{ url_for('static', filename='i18n.js') }}"></script>
  <script src="{{ url_for('static', filename='i18n/' + language + '.js') }}"></script>

  <!-- local scriptage -->
  <script src="{{ url_for('static', filename='alerts.js') }}"></script>
  <script src="{{ url_for('static', filename='prefs.js') }}"></script>

  <!-- stylings -->
  <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
  {% if config['ENV'] == 'development' %}
  <link rel='stylesheet' href="{{ url_for('static', filename='development.css') }}">
  {% endif %}
  {% if css_override %}
  <style>{{ css_override }}</style>
  {% endif %}

  <!-- add configuration from extending template -->
  {% block extra %}{% endblock %}

  <title>{{ title }} - {% block title %}{% endblock %}</title>
</head>
<body>
<div id='toast-container' class='toast-container position-absolute top-0 end-0 p-3'>
</div>
{% block dialog %}{% endblock %}
{% block confirm %}{% endblock %}
<nav>
  <p>
    <a href="javascript:showAbout()">{{ title }}</a>
    {% block subtitle %}{% endblock %}
  </p>
  <ul>
    <li>{%- if session['display_name'] %}
      {{ _('Hello,') }} {{ session['display_name'] }}
    {%- else %}
      <a href="{{ url_for('dashboard.login') }}">Login</a>
    {% endif %}
    {%- if 'entitlements' in session and 'admin' in session['entitlements'] %}
      {%- if session['admin_view'] %}
        (<a href="{{ url_for('dashboard.user_view_redirect') }}">{{ _('Switch to user view') }}</a>)
      {%- else %}
        (<a href="{{ url_for('admin.admin') }}">{{ _('Switch to admin view') }}</a>)
      {%- endif %}
    {%- endif %}</li>
    <li><a href="javascript:showAbout()">{{ _("About") }}</a></li>
    {%- if doumentation_uri %}
    <li><a target="documentation" href="{{ documentation_uri }}">{{ _("Documentation") }}</a></li>
    {%- endif %}
  </ul>
</nav>
<section class='content'>
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
<section class='footer'>
  <footer>
    :)
  </footer>
</section>

{# --------------------------------------------------------------------------
                                                                 INFO MODAL
-------------------------------------------------------------------------- #}

<div class='modal fade' id='infoModal' tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='infoModalTitle'></h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal'></button>
      </div>
      <div class='modal-body' id='infoModalBody'>
      </div>
      <div class='modal-footer'>
        <button id='info_mkay' type='button' class='btn btn-primary' data-bs-dismiss='modal' data-i18n='OKAY'>Mkay</button>
      </div>
    </div>
  </div>
</div>

<script>
function showAbout() {
  var title = i18n("ABOUT");
  var body = i18n("ABOUT_CONTENT");
  var version = `<p>${ i18n("VERSION", "{{ version }}") }</p>`;

  // set title
  var modalTitleEl = document.getElementById('infoModalTitle');
  modalTitleEl.innerHTML = title;

  // set content
  var modalBodyEl = document.getElementById('infoModalBody');
  modalBodyEl.innerHTML = body + version;

  // show modal
  var modalEl = document.getElementById('infoModal');
  var modal = bootstrap.Modal.getInstance(modalEl);
  modal.show();
}

document.body.onload = function() {
  // initialize preferences
  try {
    const prefs = new Preferences('{{ app }}');
  } catch {
    alert(_("NO_3RD_PARTY"));
  }

  // initialize information modal
  var infoModalEl = document.getElementById('infoModal');
  var infoModal = new bootstrap.Modal(infoModalEl);
};

</script>
{% block scriptage %}{% endblock %}

</body>
</html>
