{% extends 'base.html' %}

{# --------------------------------------------------------------------------
                                                              EXTRA CSS, JS
-------------------------------------------------------------------------- #}

{% block extra %}
{% endblock %}

{# --------------------------------------------------------------------------
                                                                  SCRIPTAGE
-------------------------------------------------------------------------- #}

{% block scriptage %}
  <script>

  "use strict";

  $(document).ready(function() {

    // translate static elements
    i18n_static();

    // create listeners
    var triggerTabList = [].slice.call(document.querySelectorAll('#admin_tabs button'))
    triggerTabList.forEach(function (triggerEl) {
      var tabTrigger = new bootstrap.Tab(triggerEl)

      triggerEl.addEventListener('click', function (event) {
        event.preventDefault();
        tabTrigger.show();
        prefs.set('active-admin-tab', event.target.dataset.pane);
      });
    });

    var activePaneId = prefs.get('active-admin-tab', 'pane1');
    var activeTabId = `${activePaneId}-tab`;
    var activeTab = document.getElementById(activeTabId);
    activeTab.classList.add('active');
    activeTab.setAttribute('aria-selected', 'true');

    var activePane = document.getElementById(activePaneId);
    activePane.classList.add('show');
    activePane.classList.add('active');
  });
  </script>

{% endblock %}

{# --------------------------------------------------------------------------
                                                                     HEADER
-------------------------------------------------------------------------- #}
{% block title %}{{ _('Admin') }}{% endblock %}
{% block subtitle %}{{ _('Administrative Dashboard') }}{% endblock %}
{% block header %}
{% endblock %}

{# --------------------------------------------------------------------------
                                                                    CONTENT
-------------------------------------------------------------------------- #}

{% block content %}

<ul class="nav nav-tabs" id="admin_tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pane1-tab" data-bs-toggle="tab" data-pane='pane1' data-bs-target="#pane1" type="button" role="tab" aria-controls="pane1" aria-selected="false">{{ _('Pane 1') }}</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pane2-tab" data-bs-toggle="tab" data-pane='pane2' data-bs-target="#pane2" type="button" role="tab" aria-controls="pane2" aria-selected="false">{{ _('Pane 2') }}</button>
  </li>
</ul>

<div class="tab-content" id="admin_panes_container">
  <div class="tab-pane fade" id="pane1" role="tabpanel" aria-labelledby="pane1-tab">{% include 'admin/pane1.html' %}</div>
  <div class="tab-pane fade" id="pane2" role="tabpanel" aria-labelledby="pane2-tab">{% include 'admin/pane2.html' %}</div>
</div>

{% endblock %}
