html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: #eee;
  padding: 2rem;
}

body {
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4 {
  color: #377ba8;
  margin: 10px 0 0.5em;
}

a {
  color: #377ba8;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav p {
  padding: inherit;
  margin: inherit;
}

nav a {
  text-decoration: none;
}

nav ul  {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 0 auto;
}

nav ul li {
  display: block;
  padding: 0.25rem 0.5rem;
}

footer {
  padding: 0 1rem 0;
  background: #eee;
  font-size: 0.85rem; 
  text-align: right;
  color: #ccc;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

div#error {
  margin: 1em;
  padding: 0.4em 1em;
  background: #ffcccc;
  border: 1px solid #a87b37;
}

.content:last-child {
  margin-bottom: 0;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

/* --------------------------------------------------------------------------
                                                            toasts
--------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
                                                            tables
--------------------------------------------------------------------------- */

table th, table td {
  padding: 1px 1em;
  vertical-align: top;
}

/* --------------------------------------------------------------------------
                                                            tabs and panes
--------------------------------------------------------------------------- */

.tab-content {
  border: 1px solid lightgrey;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-top: 0px;
  padding: 1rem;
}
